# Download

The current stable release is ${project.artifactId} ${project.version} for Java 1.6 and higher.

To include nom-tam-fits into an existing project use the library published on Maven Central.

For Maven projects add the following to your <dependencies>:

    <dependency>
    	<groupId>${project.groupId}</groupId>
    	<artifactId>${project.artifactId}</artifactId>
    	<version>${project.version}</version>
    </dependency>

You can also download the JARs directly from [Maven Central](http://search.maven.org/#search|ga|1|g%3A%22net.sourceforge.jenesis4java%22 "Maven Central").

The source code can be found on [Sourceforge](http://sourceforge.net/p/jenesis4java/gitCode/ci/master/tree/ "Sourceforge"). Most development is happening in the master branch. Releases are generally tagged with the version number.


